:root{
    --orange:#ff7800;
    --black:#130f40;
    --loght-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1)
   
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    outline: none;
    border:none;
}
input[type=submit]{
    font-family: FontAwesome
   }
.search_box{
    display:block;
    position: relative;
    box-sizing: border-box;
    width:60%;
    height:50px;
    margin:0 auto;
  }
  @media(max-width:600px){
    .search_box{
     
      width:100%;
      
    }
}
  .search_box input[type="text"]{
    position:absolute;
    left:0;
    top:0; 	
    width:80%;
    outline:0;
    height:50px;
    padding:0 10px;
    border-radius:2px 0 0 2px;
    	
  }
  .search_box input[type="text"]:focus {
    outline: 0;
  }
  
  .search_box button[type="submit"]{
    cursor:pointer;
    width:20%;
    height:50px;
    position:absolute;
    left:80%;
    top:0;
    border-radius:0 2px 2px 0;
    background:#ff7800;
    border:none;
    color:#fff;
    font-weight:bold;
    font-size:16px;
    border-radius:0 25px 25px 0;
  }
  .search_box i{
      font-size:3rem;
      font-weight: bolder;

  }
  .search_box ::-webkit-input-placeholder {
    color: #3879D9;
  }
  

  .main_block{
    width:100%;
    border-radius:30px 30px 10px 30px;
    box-shadow: var(--box-shadow);
    
    background:#ff7800;
  }
  .main_block .main_block_header{
    
    padding:20px 0;
    text-align:center;
    font-size:2rem;
    font-weight: bolder;
    color:#fff;
  }
  .main_block .main_block_content{
      height:400px;
      background:#fff;
  }

  .input {
    position: relative;
    width: 80%;
    margin:0 auto;
  }
  .input input {
    font: 15px/24px sans-serif;
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;
    padding: 0.3em;
    transition: 0.3s;
    border: 1px solid #1b2538;
    border-radius: 4px;
    outline: none;
  }
  .input input:focus {
    border-color: #da3c41;
  }
  .input input {
    padding-left: 40px;
  }
  .input i {
    position: absolute;
    top: 8px;
    left: 0;
    padding: 9px 8px;
    transition: 0.3s;
    color: #aaaaaa;
  }
  .input input[type=text]:focus + i {
    color: #da3c41;
  }

  .box{
    box-shadow: var(--box-shadow);
    background:#fff;
    border-radius:10px;
  }

  .alert{
   
    background:rgb(255, 177, 177);
    border-radius:10px;
    text-align:center;
  }
  

  .button{
    background:var(--orange);
    display:block;
    width:20%;
    border-radius:10px;
    color:#fff;
    font-weight:bolder;
    margin:0 auto;
    height:50px;
    cursor:pointer;
    font-size:2rem;
  }
  .button:hover{
    background:#ff8911;
  }

  .filelabel{
    display: inline-block;
    position: relative;
    background-color: #1877F2;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.5s;
  }
  .filelabel:hover{
    background-color: #004db1;
  }
  
  .fileinput{
    display: none;
  }