:root{
    --orange:#ff7800;
    --black:#130f40;
    --loght-color:#666;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1)
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1)
}
.mypage_wrap{
    display:flex;
    flex-wrap:wrap;
    
}
.mypage_wrap .left_side{
    width:50%;
}
.mypage_wrap .right_side{
    width:50%;
   
}
@media(max-width:600px){
    .mypage_wrap .left_side{
        width:100%;
    }
    .mypage_wrap .right_side{
        width:100%;
       
    } 
}
.main_block{
    border-radius:0px;
    background:white;
    padding:0px;
    border-radius:10px 10px 0 0px;
}
.main_block_header{
    display:flex;
    padding:0px 0px 0px 0px!important;
}
.header_left{
    width:50%;
    background: #ff8911;
    padding:10px 0;
    border-top:solid 2px #eee;
    border-left:solid 2px #eee;
    border-right:solid 2px #eee;
    border-radius:10px 10px 0 0px;
    display:block;

}
.header_right{
    width:50%;
    background:white;
    color:#ff7800;
    border-top:solid 2px #eee;
    border-left:solid 2px #eee;
    border-right:solid 2px #eee;
    border-bottom:solid 2px #eee;
    padding:10px 0;
    border-radius:10px 10px 0 0px;
    display:block;
}
input{
    width:80%;
    padding:10px;
    border-radius:10px;
}
.label{
    font-size:2rem;
}
.is-hide{
    display:none;
}
.alert-box{
    position: absolute;
    top:120px;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:300;
    width:50%;
    padding:20px 0;
    background-color:rgb(245, 154, 124);
    font-size:2rem;
    text-align:center;
    
    color:#fff;
    display:none;
    border-radius:15px;
  }
  .alert{
    margin-bottom:5px;
    font-size:.9em;
  }