.center{
    background:#fafafa;
}
.label{
    text-align:center;
    font-size:2.5rem;
}
input{
    margin:0 auto;
    width:70%;
}
.input, textarea{
    width: 80%; 
    padding: 10px 15px; 
    font-size: 16px;
    border-radius: 3px; 
    border: 2px solid #ddd; 
    box-sizing: border-box;
  }
.tagsinput{
    width:80% !important;
    margin:0 auto !important;
} 
.validation{
    font-size:2rem;
    color:red;
}
.main_block_content{
    display:flex;
    flex-wrap:wrap;
}

.pagi{
    display:block;
    width:80%;
    margin: 0 auto;
    margin-top:20px;
    margin-bottom:20px;
}
ul li{
    display:inline;
    padding:15px;
    background:#ff7800;
    font-size:1.3rem;
    color:white;
    font-weight: bolder;
    
    margin-left:10px;
}