.center{
    background:#fafafa;
}
.label{
    text-align:center;
    font-size:2.5rem;
}
input{
    margin:0 auto;
    width:70%;
}
.input, textarea{
    width: 80%; 
    padding: 10px 15px; 
    font-size: 16px;
    border-radius: 3px; 
    border: 2px solid #ddd; 
    box-sizing: border-box;
  }
.tagsinput{
    width:80% !important;
    margin:0 auto !important;
} 
.validation{
    font-size:2rem;
    color:red;
}
